---
# Configure passwordless sudo for specified users

- name: Ensure sudoers.d directory exists
  ansible.builtin.file:
    path: /etc/sudoers.d
    state: directory
    mode: '0750'
    owner: root
    group: root

- name: Configure passwordless sudo for users
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/ansible-passwordless-sudo
    regexp: "^{{ item }}\\s"
    line: "{{ item }} ALL=(ALL) NOPASSWD: ALL"
    validate: 'visudo -cf %s'
    mode: '0440'
    owner: root
    group: root
    create: true
  loop: "{{ system_tweaks_passwordless_sudo_users | default([]) }}"
  when: system_tweaks_passwordless_sudo_enabled | default(true) | bool
  tags:
    - passwordless_sudo
